RewriteEngine On
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d


RewriteRule ^public/login$ /demo1/login.php?section=$2&page=&action=create [L]
RewriteRule ^public/register/create$ /demo1/register.php?section=$2&page=&action=create [L]
RewriteRule ^public/register/waiting$ /demo1/waiting.php?section=$2&page=&action=create [L]
RewriteRule ^admin/danied-access$ /demo1/danied-access.php?section=$2&page=&action=create [L]
RewriteRule ^([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z]+)$ /demo1/$2.php [L]

RewriteRule ^([a-z,0-9,A-Z,_=]+)/principal/([a-z,0-9,A-Z]+)/([a-z,0-9,A-Z]+)$ /demo1/$2.php?location=$2&path=$1&action=$3&id=$3[L]
RewriteRule ^([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z]+)/([0-9]+)/([a-z,0-9,A-Z]+)$ /demo1/$3.php?location=$2&action=$5&id=$4 [L]
RewriteRule ^([a-z,0-9,A-Z,_=]+)/principal/([a-z,0-9,A-Z]+)/([0-9]+)/([a-z,0-9,A-Z]+)$ /demo1/$2.php?location=$2&path=$1&action=$4&id=$3 [L]
RewriteRule ^([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z,_-]+)/([a-z,0-9,A-Z]+)/([0-9]+)/([a-z,0-9,A-Z]+)$ /demo1/$2/$3.php?location=$2&path=$1&action=$5&id=$4 [L]

RewriteRule ^admin/([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z,_-]+)/([0-9]+)/([a-z,0-9,A-Z]+)$ /demo1/$2.php?location=$2&path=$1&action=$4&id=$3&ref= [L]
RewriteRule ^admin/([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z,_-]+)/([0-9]+)/([0-9]+)/([a-zA-Z,_=]+)$ /demo1/$2.php?location=$2&path=$1&id=$3&ref=$4&action=$5 [L]


RewriteRule ^admin/([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z,_=]+)/([a-z,0-9,A-Z,_=]+)$ /demo1/$2.php?location=$2&path=$1&action=$3 [L]

RewriteRule ^admin/([a-z,0-9,A-Z,_=]+)/show$ /demo1/$1.php?location=$2&path=$1&action=show [L]




RewriteRule ^admin/generate$ /admin/generate.php?empresa=$1 [L]

